config RTK_SB2_SECURITY_DEBG
	bool "Realtek system bridge security mode debug"
	depends on HAVE_ARM_SMCCC
	default n
	help
	  Enable helper functions for Realtek system bridge security mode debug. If unsure, say N.

config RTK_RBUS_BARRIER
	bool "Realtek rbus barrier"
	depends on RTK_MEM_REMAP
	default y
	help
	  Enable helper functions for R-bus barrier. If unsure, say N.

config RTK_MEM_REMAP
	bool "Realtek memory remap"
	default y
	help
	  Enable helper functions for static ioremap. If unsure, say N.

config RTK_ACPU_RELOAD
	bool "Realtek dynamic ACPU reload"
	default n
	help
	  Dynamic ACPU stop/start mechanism. If unsure, say N.

config RTK_IPCSHM_RESET
	bool "Dynamic IPC share memory reset"
	depends on RTK_ACPU_RELOAD
	default n
	help
	  Reset IPC_SHM when performing dynamic ACPU stop/start. If unsure, say N.

config RTK_REGMAP_I2C
	bool
	select REGMAP

config RTK_REGMAP_MMIO
	bool
	select REGMAP

config RTK_REGMAP_SECURE_MMIO
	bool
	select RTK_REGMAP_MMIO
	depends on HAVE_ARM_SMCCC

config RTK_MMIO
	bool
	select REGMAP_MMIO

config RTK_SECURE_DVFS
	bool
	default y if ARCH_RTD16xx
	select RTK_REGMAP_SECURE_MMIO
	select I2C_RTK_SECURE_ACCESS

config RTK_MCP
	bool "Realtek MCP driver"
	default n
	help
	  Realtek MCP driver

config RTK_DUMMY_DEVICE
	bool "Dummy device"
	default n
	select POWER_CONTROL_PD_DUMMY
	help
	  A dummy device driver. If unsure, say No.

config RTK_VMX_ULTRA
	bool "VMX ultra boot enable"
	default n
	select RTK_VMX_DRM
	help
	  Set VMX ultra boot enable.

config RTK_VMX_DRM
	bool "VMX DRM"
	default n
	help
	  Enable VMX DRM.

config RTK_DEMOD
	tristate "Realtek Demod Device Driver"
	default y
	depends on ARCH_RTD16xx
	help
	  This driver provides PM and userspace driver interface of Demod.

config RTK_TP
	tristate "Realtek TP Device Driver"
	default y
	depends on ARCH_RTD16xx
	help
	  This driver provides PM and userspace driver interface of TP.

config RTK_R2RDSC
	tristate "Realtek R2RDSC Device Driver"
	default y
	depends on ARCH_RTD16xx
	help
	  This driver provides PM and userspace driver interface of R2RDSC.

config RTK_DCSYS
	tristate "Realtek DCSYS Device Drviver"
	depends on RTK_PERFCNT
	help
	  This driver provides support of multiple comsumers for using PC.

config RTK_DMC
	tristate "Realtek DMC Device Driver"
	depends on RTK_PERFCNT
	help
	  This driver provides support of multiple comsumers for using PC,
	  and safty DMC register access.


source "drivers/soc/realtek/common/Kconfig.workaround"
source "drivers/soc/realtek/common/rpc/Kconfig"
source "drivers/soc/realtek/common/pwrctrl/Kconfig"
source "drivers/soc/realtek/common/hse/Kconfig"
source "drivers/soc/realtek/common/debug/Kconfig"
source "drivers/soc/realtek/common/perfcnt/Kconfig"
