menu "RTD139x Device Drivers"

config RTK_FAN
        bool "Realtek Fan driver"
        default n
        help
          Realtek Fan driver

source "drivers/soc/realtek/rtd139x/rtk_ve/Kconfig"

endmenu #RTD139x Device Drivers
