config RTK_REGISTER_TRACKER
	bool

config RTK_POWER_TRACKER
	bool

config RTK_POWER_TRACKER_MALI
	bool "Power tracker for Mali"
	select RTK_POWER_TRACKER
	help
	  Power tracker for Mali

config RTK_POWER_TRACKER_TEST
	bool "Power tracker timing test"
	select RTK_POWER_TRACKER

config RTK_SRR_READER
	bool "SRR Reader"
	depends on HAVE_ARM_SMCCC
	depends on ARCH_RTD16xx
	depends on DEBUG_FS
	default y
